<html>
<head><title>Your Kids' Addresses</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

<!-- bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- underscore -->
    <script src="http://underscorejs.org/underscore.js"></script>

<!-- angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.js"></script>


<!-- birthdays -->
<script src="birthdays.js"></script>

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->


<link href="style.css" rel="stylesheet">
</head>
<body ng-app="YourKidsAddressesApp">

<div class="banner bg-success" ng-controller="CalendarController" ng-show="anyToShow()" ng-cloak>
<b style="float: left;">Upcoming birthdays:</b>
<ul class="list-inline" >
<li ng-repeat="person in nPeopleByUpcomingBirthday(3)">{{person.first}} <span ng-bind-html="person.last"></span> -
{{birthdayFmt(person, "MMM D")}}
</li>
</ul>
</div>

<!-- <li ng-repeat="person in people | orderBy:birthdayDate">{{person.first}} {{person.last}} -
-->


</div>


<!-- <p>Hippie dad picture: "One day I will have a lot of kids, and
write their addresses down in...
whoah wait, is that Camus and Jane Fonda smoking a reefer? Hi guys!

<p>Dad and Dylan picture: Why you might not want Dad taking care of your
kids.
 -->



<h1 class="title">Your Kids&rsquo; Addresses</h1>

<div id="images" class="col-xs-12">

<div class="imgwithcaption col-xs-12 col-md-4 col-sm-4 col-lg-4">
<img src="danger.jpg"
 class="h">
<div class="panel panel-default caption">
Calling to find out kids' addresses while
letting baby
 drive is a leading cause of
 car accidents
</p>
</div>
</div>

<div class="imgwithcaption col-xs-12 col-md-4 col-sm-4 col-lg-4">
<img src="lookout.jpg"  class="v">
<div class="panel panel-default caption">
Grandfather photographed at moment he
begins to plan to
 forget child's address. Also, child cruelly led to believe that he is
 navigating tricycle
</div>
</div>

<div class="imgwithcaption col-xs-12 col-md-4 col-sm-4 col-lg-4">
<img src="distracted.jpg"  class="h">
<div class="panel panel-default caption">
Our scientists have proven it impossible to
 both dance and recall children's addresses at same time
</p>
</div>
</div>

</div>

<div ng-controller="AddressController" ng-cloak>

  <div ng-repeat="person in people | isAddressOwner | orderBy:age">
    <!-- This will clear the float in Small Size screens only -->
    <div class="clearfix visible-sm" ng-if="needsClearfixForPeriod($index, 2)"></div>
    <!-- This will clear the float in Med Size screens only -->
    <div class="clearfix visible-md" ng-if="needsClearfixForPeriod($index, 3)"></div>
    <!-- This will clear the float in Large Size screens only -->
    <div class="clearfix visible-lg" ng-if="needsClearfixForPeriod($index, 4)"></div>

    <div class="address col-md-4 col-lg-3 col-xs-12 col-sm-6">
    <span ng-if="person.first === 'Gordon'"><i>(And of course...)</i><br>&nbsp;</span>
      <div class="panel panel-default">
	<div class="panel-heading">{{person.first}} <span ng-bind-html="person.last"></span> (b. {{birthdayFmt(person, 'MMM D')}})<span ng-bind-html="spouseStr(person)"></span></div>
	<div class="panel-body">
	  <span ng-if="children = childrenOf(person)">
	    <p ng-repeat="child in children | orderBy:age:true">
        <span ng-if="child.photos">
          <a href="{{flickrURL(child)}}">{{child.first}}</a>
        </span>
        <span ng-if="!child.photos">{{child.first}}</span>
        <span ng-bind-html="child.last"></span>
        (b. {{birthdayFmt(child, 'MMM D')}})
        <p ng-bind-html="child.additional_info" style="font-size: .8em;"></p>
      </p>
	    <hr>
    </span>
	  <blockquote ng-repeat="address in person.address">
            {{person.phone}}
	    <span ng-repeat="streetLine in address.street"><br>{{streetLine}}</span>
	    <br>{{address.city}}, {{address.state}} {{address.zip}}
	    <br>[ <a href="{{googleMapsURL(address)}}">Google map</a> ]
	  </blockquote>
      <span ng-if="person.additional_info"><hr><span ng-bind-html="person.additional_info"></span></span>
	</div>
      </div>
    </div>
  </div>


</div> <!-- end of address controller -->

<div class="clearfix">&nbsp;</div>


<div class="col-xs-12 col-sm-6" ng-controller="BirthdayController" ng-cloak>
<h1>Birthdays</h1>
<div style="width: 90%; position: relative; margin-left: 10%">
<div style="margin: 0 auto; position: relative; width: 90%; max-width: 400px">
<ul style="list-style-type: none; margin-left: 20%; padding: 0">
<li ng-repeat="person in people | orderBy:birthdayDateWithoutYear">{{person.first}} <span ng-bind-ht
ml="person.last"></span> -
<span ng-bind-html="birthdayFmt(person, 'MMM D')"></span></li>
<!-- <li ng-repeat="person in people | orderBy:birthdayDate">{{person.first}} {{person.last}} - {{birthdayFmt(person, "MMM d")}}</li>
-->
</ul>
</div>
</div>
</div>


<div class="col-xs-12 col-sm-5 col-sm-offset-1">
<h1>Other useful info</h1>

<a href="https://www.youtube.com/watch?v=GZQe_dysK5U">How to reenable a Google Calendar</a> that you have been invited to in the
past,
but which
you have somehow lost track of, and
are
too
embarrassed to ask your grandchildren to help you find
</div>
<div class="col-xs-0 col-sm-4 col-sm-12 col-lg-4">&nbsp;</div>

<div class="col-xs-12">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>

</body>
</html>
