<html>
<!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

<!-- bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.js"></script>


<!-- birthdays -->
<script src="birthdays.js"></script>

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->


<link href="style.css" rel="stylesheet">
<body ng-app="YourKidsAddressesApp">

<div class="alert alert-success col-xs-12" role="alert" ng-controller="CalendarController" ng-show="anyToShow">
<b style="float: left;">Upcoming birthdays:</b>
<ul class="list-inline" >
<li ng-repeat="person in nPeopleByUpcomingBirthday(3)">{{person.first}} <span ng-bind-html="person.last"></span> - 
{{birthdayFmt(person, "MMM DD")}}
</li>
</ul>
</div>

<!-- <li ng-repeat="person in people | orderBy:birthdayDate">{{person.first}} {{person.last}} - 
-->


</div>


<!-- <p>Hippie dad picture: "One day I will have a lot of kids, and 
write their addresses down in...
whoah wait, is that Camus and Jane Fonda smoking a reefer? Hi guys!

<p>Dad and Dylan picture: Why you might not want Dad taking care of your 
kids.
 -->



<h1>Your Kids&rsquo; Addresses</h1>

<div id="images" class="col-xs-12">

<div class="imgwithcaption col-xs-12 col-md-4 col-sm-12 col-lg-4">
<img src="danger.jpg"
 class="h">
<p class="caption">
Calling to find out kids' addresses while 
letting baby
 drive is a leading cause of
 car accidents
</p>
</div>

<div class="imgwithcaption col-xs-12 col-md-4 col-sm-12 col-lg-4">
<img src="lookout.jpg"  class="v">
<p class="caption">
Grandfather photographed at moment he 
begins to plan to
 forget child's address. Also, child cruelly led to believe that he is
 navigating tricycle
</p>
</div>

<div class="imgwithcaption col-xs-12 col-md-4 col-sm-12 col-lg-4">
<img src="distracted.jpg"  class="h">
<p class="caption">
Our scientists have proven it impossible to
 both dance and recall children's addresses at same time
</p>
</div>

</div>


<div class="address col-md-4 col-lg-4 col-xs-12 col-sm-6" 
style="clear: both">
<p>Alex Wheeler (b. Jul 4)
<blockquote>(617) 686-4896<br>28 Raymond St.<br>Allston, MA 
02134<br>[ <a 
href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=28+Raymond+St+Allston+MA+02134&ie=UTF8&z=16&iwloc=addr&om=1">Google 
map</a> ]
</blockquote></div>

<div class="address col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
Sarah Wheeler (b. Aug 28) and Jon Korn (b. Aug 20), anniversary May 22
<blockquote>(909) 456-9096<br>487 43rd Street #1
<br>Oakland, CA 94609
<br>[ <a 
href="http://maps.google.com/maps?q=487+43rd+street,+oakland,+ca&oe=utf-8&client=firefox-a&ie=UTF8&split=0&gl=us&ei=VTJvSveUBIaaMbScregI&z=16&iwloc=A">Google 
map</a> ]
</blockquote></div>

<!-- This will clear the float in Small Size screens only -->
<div class="clearfix visible-sm"></div>

<div class="address col-md-4 col-lg-4 col-xs-12 col-sm-6">
Rebekah Wheeler (b. Nov 3) and Ben G (b. Jan 2), anniversary Aug 24
<blockquote>(617) 959-9798<br>60 Winfield Street<br>San Francisco, CA 
94110<br>[ <a 
href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=60+Winfield+St+San+Francisco+CA+94110">Google 
map</a> ]
</blockquote></div>

<!-- This will clear the float in Med Size screens only -->
<div class="clearfix visible-md visible-lg"></div>




<div class="address col-md-4 col-lg-4 col-xs-12  col-sm-6">
Jonathan Erickson (b. Aug 7)
and Alejandra Velez (b. Oct 13), anniversary Aug. 31
<blockquote>(310) 350-7514<br>940 Via Camino #5
<br>Wilmington, CA 90744
<br>[ <a 
href="http://maps.google.com/maps?q=940+via+camino+5,+wilmington+ca+90744&oe=utf-8&client=firefox-a&ie=UTF8&hl=en&t=h&z=16&iwloc=addr">Google 
map</a> ]
</blockquote></div>

<!-- This will clear the float in small Size screens only -->
<div class="clearfix visible-sm"></div>

<div class="address col-md-4 col-lg-4 col-xs-12  col-sm-6">Ben Wheeler (b. Jul 31), Kate Cortesi (b. Feb 2), anniversary Sept 7, <a 
href="http://www.flickr.com/photos/90204134@N00/tags/carmen/">Carmen</a> (b. Jun 
3) and <a 
href="http://www.flickr.com/photos/90204134@N00/tags/nina/">Nina</a> 
Wheeler (b. Aug 19)
<blockquote>(917) 254-1578, (646) 651-2046<br>483 Putnam Ave. 
#1<br>Brooklyn, NY 11221
<br>[ <a 
href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=483+Putnam+Ave,+Brooklyn,+NY+11221&sll=41.308167,-72.934026&sspn=0.01088,0.020084&ie=UTF8&z=16&iwloc=addr&om=1">Google 
map</a> ]
<br><i>work:</i><br>68 Jay St. Suite 201<br>Brooklyn, NY 11201-1182
<br>[ <a 
href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=68+Jay+St,+Brooklyn,+NY+11201">Google 
map</a> ]
</blockquote></div>

<div class="address col-md-4 col-lg-4 col-xs-12  col-sm-6">Jennifer Jaff&eacute; (b. Apr 18), Hugo Jaff&eacute; (b Nov 19), anniversary 
Oct 9, <a 
href="http://www.flickr.com/photos/90204134@N00/tags/toby/">Toby</a> 
(b. May 10) and <a href="http://www.flickr.com/photos/90204134@N00/tags/sam/">Sam</a>
Jaff&eacute; (b. Sept 26)
<blockquote>(831) 466-0974 (home)<br>(917) 859-4667 (cell)<br>1503 Escalona 
Drive<br>Santa 
Cruz, CA 
95060
<br>[ <a
href="http://maps.google.com/maps?q=1503+escalona+drive,+santa+cruz+ca&oe=utf-8&client=firefox-a&ie=UTF8&hl=en&t=h&z=16&iwloc=r0">Google 
map</a> ]
</blockquote></div>

<!-- This will clear the float in Med Size screens only -->
<div class="clearfix visible-md visible-lg"></div>
<!-- This will clear the float in small Size screens only -->
<div class="clearfix visible-sm"></div>



<div class="address col-md-4 col-lg-4 col-xs-12  col-sm-6"
>Mariam Gates (b. Oct 10), Rolf Gates (b. Feb 3), anniversary May 16, <a 
href="http://www.flickr.com/photos/90204134@N00/tags/jasmine/">Jasmine</a> (b. May 
11) and <a 
href="http://www.flickr.com/photos/90204134@N00/tags/dylan/">Dylan</a> (b. May 
19) Gates
<blockquote>(617) 271-7106, (831) 454-8895<br>122 Echo St
<br>Santa Cruz, CA 95060
<br>[ <a 
href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=122+Echo+St,+Santa+Cruz,+CA+95060&sll=40.73305,-73.990779&sspn=0.010975,0.020084&ie=UTF8&z=16&om=1">Google 
map</a> ]
</blockquote></div>

<div class="address col-md-4 col-lg-4 col-xs-12  col-sm-6">Elizabeth Zackheim(b. Sept 1) and Adrian Zackheim (b. Sept 19), anniversary Aug 
15th
<blockquote>(917) 407-1342, (212) 366-2659<br>
185 West End Avenue, Apt 26H
<br>New York, NY 10023
<br>[ <a 
href="http://maps.google.com/maps?q=185+west+end+ave,+New+York,+NY+10023,+USA&ie=UTF8&z=16&om=1">Google 
map</a> ]
</blockquote></div>

<!-- This will clear the float in Small Size screens only -->
<div class="clearfix visible-sm"></div>


<div class="address col-md-4 col-lg-4 col-xs-12  col-sm-6"><i>(And of course...)</i>
<br>Gordon Wheeler (b. Apr 10) and Nancy Lunney-Wheeler (b. Jun 25), anniversary Dec 27
<blockquote>(831) 426-6099 (home)<br>127 Abby Ct.
<br>Santa Cruz, CA 95062-1425
<br>[ <a 
href="http://maps.google.com/maps?q=127+Abby+Ct+Santa+Cruz,+CA+95062-1425,+USA&ie=UTF8&z=16&om=1">Google 
map</a> ]
</blockquote></div>


<div class="clearfix">&nbsp;</div>


<div class="col-xs-12 col-sm-4 col-sm-offset-1" ng-controller="BirthdayController">
<h1>Birthdays</h1>
<ul style="list-style-type: none; margin-left:5vw">
<li ng-repeat="person in people | orderBy:birthdayDateWithoutYear">{{person.first}} <span ng-bind-html="person.last"></span> - 
<span ng-bind-html="birthdayFmt(person, 'MMM DD')"></span></li> 
<!-- <li ng-repeat="person in people | orderBy:birthdayDate">{{person.first}} {{person.last}} - {{birthdayFmt(person, "MMM d")}}</li> 
-->
</ul>
</div>


<div class="col-xs-12 col-sm-4 col-sm-offset-1">
<h1>Other useful info</h1>

<a href="https://www.youtube.com/watch?v=GZQe_dysK5U">How to reenable a Google Calendar</a> that you have been invited to in the 
past, 
but which 
you have somehow lost track of, and 
are 
too 
embarrassed to ask your grandchildren to help you find
</div>
<div class="col-xs-0 col-sm-4 col-sm-12 col-lg-4">&nbsp;</div>

<div class="col-xs-12">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>

</body>
</html>
